* {
    margin: 0%;
    /* Altera o espaçamento externo*/
    padding: 0%;
    /* Altera o espaçamento interno*/
    box-sizing: border-box;
    /* A borda na largura e na altura ficará totlamente preenchida no elemento.*/
    font-family: 'Inter', sans-serif;
    /* Altera a fonte*/
}

body{
    background-color: white;
    display: grid;
    /* Divide o layout em grade */
    grid-template-columns: auto auto auto auto;
    /* Aplica uma divisão de colunas no layout */
    grid-template-rows: auto auto auto auto;
    /* Aplica uma divisão de linhas no layout*/
    grid-template-areas:
        "top top top top"
        "mid mid mid mid"
        "low low low low";
}

.grid_mid{
    grid-area: mid;
    font-size: 20px;/* tamanho da fonte */
    text-align: center justify; /* alinha o texto */
    margin-left: 13%; /* muda a margem da esquerta para 23% */
    width: 75%; /* tamanho do quadrado onde fica os textos */
    text-indent: 50px; /* começo de parágrafos */
    border: 4px solid orange; /* borda do quadrado dos textos*/
    padding-left: 2rem; /* espaço entre os textos e a borda na esquerda */
    padding-right: 2rem; /* espaço entre os textos e a borda na direita */
    padding-top: 1rem; /* espaço entre os textos e a borda em cima */
    padding-bottom: 2rem; /* espaço entre os textos e a borda em baixo*/
    background-color: #eee3d6; /* cor do fundo do quadrado*/
}

.grid_top{
    grid-area: top;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-color: green;
}